@(product: Form[CreateProductForm],category: Seq[Category], photo: Seq[Photo])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(routes.HomeController.addProductHandle()) {
  @helper.CSRF.formField
  @inputText(product("name"))
  @inputText(product("description"))
  @inputText(product("price"))
  @inputText(product("quantity"))


  <select name="category" id="category">
  @for(cat <- category){
    <option value="@cat.id">@cat.name</option>
  }
  </select>

  <select name="photo" id="photo">
  @for(cat <- photo){
    <option value="@cat.id">@cat.photo</option>
  }
  </select>



  <div class="buttons">
    <input type="submit" value="Add Product"/>
  </div>
}
